<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KIFSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C00FA0A18F50994002F08FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C00FA2B18F50994002F08FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C00FA4618F509C2002F08FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
